@use '../helpers' as *;

.leading {
    color: #fffffff3;
    background-color: #000000e5;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 24px;

    // @include lg {
    //     margin: 0 1.7rem 3rem 1.7rem;
    // }

    &_description {
        display: flex;
        gap: 2rem;

        & > p {
            flex: 1;
            text-wrap: balance;
        }
    }

    & > h1 {
        margin-bottom: fluid(48, 36);
    }
   
}