@use '../helpers' as *;

.leading {
    color: #ffffff;
    padding: 0 var(--container-padding-x);
    margin-top: calc(var(--container-padding-x) - #{fluid(24, 16)});
    // padding-top: 3rem;
    // padding-bottom: 3rem;
    // padding: 3rem 0;

    // @include lg {
    //     margin: 0 1.7rem 3rem 1.7rem;
    // }

    &-txt {
        margin-bottom: #{fluid(42, 32)};
    }

    &_description {
        display: flex;
        gap: 2rem;

        & > p {
            flex: 1;
            text-wrap: balance;
        }
    }

    & h1 {
        margin-bottom: fluid(20, 14);
    }
   
}