@use 'helpers' as *;

.container {
    max-width: calc(var(--container-width));
    padding: 0 var(--container-padding-x);
    margin-inline: auto;
}


.columnTxt {
    min-width: 100%;
    flex: 1;
    text-wrap: balance;
}

.extraGap {
    margin-bottom: 1.5rem !important;
}

.description {
    font-family: 'PT Root';
    font-size: fluid(20, 16);
    font-style: italic;
}

.textP {
    width: 70%;

    @include middleSm {
        & {
            width: 100%;
        }
    }
}

p:not(:last-child), a {
    margin-bottom: var(--sm-gap);
}   

// .fullWidth {
//     width: 100%;
// }