@use 'helpers' as *;

:root {
    --font-family-base: 'Inter', sans-serif;
    --font-family-accent: 'PTRootUI', sans-serif;

    --container-width: #{rem(1600)};
    --container-padding-x: #{fluid(60, 30)};

    --body-padding-y: #{fluid(40, 20)};

    --transition-duration: 0.5s;

    --link-color: 0.59 0.226975 258.9616;
    --hover-link-color: 0.73 0.1811 154.91;

    --selection-color: 61.07% 0.163876259829489 247.86828374804395;

    --sm-gap: #{fluid(14, 12)};
    --md-gap: #{fluid(40, 26)};
    --lg-gap: #{fluid(72, 42)};
    --section-gap: #{fluid(90, 54)};
}